*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #011638;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.container{
    background-color: #eec643;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.gen{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.txt{
    height: 40px;
    padding-left: 10px;
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    border: #000 solid 2px;
}

.genBtn{
    height: 40px;
    width: 110px;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: #fff;
    border: #000 solid 2px;
}

.dowBtn{
    padding: 8px 20px;
    background-color: #fff;
    display: none;
    border: #000 solid 2px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #000;
}

@media (max-width:382px) {
    .gen{
        gap: 2px;
    }
    .txt{
        width: 180px;
        padding-left: 5px;
        font-size: 1rem;
    }
    .genBtn{
        font-size: 1rem;
    }
    .dowBtn{
        font-size: 1rem;
    }
}
